rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /sessions/{sessionId} {
      allow read: if request.auth != null && resource.data.userId == request.auth.uid;
      allow create: if request.auth != null;
      allow update: if request.auth != null && resource.data.userId == request.auth.uid;
    }
    match /content/{contentId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.admin == true;
    }
    match /email_subscribers/{docId} {
      allow read: if request.auth != null && request.auth.token.admin == true;
      allow create: if true;
    }
    match /gallery_images/{imageId} {
      allow read: if true;
      allow write: if true;
    }
  }
}
